@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-ExtraBold.eot');
  src: local('Panton ExtraBold'), local('Panton-ExtraBold'),
  url('../fonts/panton/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-ExtraBold.woff') format('woff'),
  url('../fonts/panton/Panton-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-RegularItalic.eot');
  src: local('Panton Regular Italic'), local('Panton-RegularItalic'),
  url('../fonts/panton/Panton-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-RegularItalic.woff') format('woff'),
  url('../fonts/panton/Panton-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-ThinItalic.eot');
  src: local('Panton Thin Italic'), local('Panton-ThinItalic'),
  url('../fonts/panton/Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-ThinItalic.woff') format('woff'),
  url('../fonts/panton/Panton-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Bold.eot');
  src: local('Panton Bold'), local('Panton-Bold'),
  url('../fonts/panton/Panton-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Bold.woff') format('woff'),
  url('../fonts/panton/Panton-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-ExtraLight.eot');
  src: local('Panton ExtraLight'), local('Panton-ExtraLight'),
  url('../fonts/panton/Panton-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-ExtraLight.woff') format('woff'),
  url('../fonts/panton/Panton-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-ExtraBoldItalic.eot');
  src: local('Panton ExtraBold Italic'), local('Panton-ExtraBoldItalic'),
  url('../fonts/panton/Panton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/panton/Panton-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-ExtraLightItalic.eot');
  src: local('Panton ExtraLight Italic'), local('Panton-ExtraLightItalic'),
  url('../fonts/panton/Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-ExtraLightItalic.woff') format('woff'),
  url('../fonts/panton/Panton-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Thin.eot');
  src: local('Panton Thin'), local('Panton-Thin'),
  url('../fonts/panton/Panton-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Thin.woff') format('woff'),
  url('../fonts/panton/Panton-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-SemiBold.eot');
  src: local('Panton SemiBold'), local('Panton-SemiBold'),
  url('../fonts/panton/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-SemiBold.woff') format('woff'),
  url('../fonts/panton/Panton-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Heavy.eot');
  src: local('Panton Heavy'), local('Panton-Heavy'),
  url('../fonts/panton/Panton-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Heavy.woff') format('woff'),
  url('../fonts/panton/Panton-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-SemiBoldItalic.eot');
  src: local('Panton SemiBold Italic'), local('Panton-SemiBoldItalic'),
  url('../fonts/panton/Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-SemiBoldItalic.woff') format('woff'),
  url('../fonts/panton/Panton-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-BoldItalic.eot');
  src: local('Panton Bold Italic'), local('Panton-BoldItalic'),
  url('../fonts/panton/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-BoldItalic.woff') format('woff'),
  url('../fonts/panton/Panton-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-BlackItalic.eot');
  src: local('Panton Black Italic'), local('Panton-BlackItalic'),
  url('../fonts/panton/Panton-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-BlackItalic.woff') format('woff'),
  url('../fonts/panton/Panton-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-LightItalic.eot');
  src: local('Panton Light Italic'), local('Panton-LightItalic'),
  url('../fonts/panton/Panton-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-LightItalic.woff') format('woff'),
  url('../fonts/panton/Panton-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Regular.eot');
  src: local('Panton Regular'), local('Panton-Regular'),
  url('../fonts/panton/Panton-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Regular.woff') format('woff'),
  url('../fonts/panton/Panton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-HeavyItalic.eot');
  src: local('Panton Heavy Italic'), local('Panton-HeavyItalic'),
  url('../fonts/panton/Panton-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-HeavyItalic.woff') format('woff'),
  url('../fonts/panton/Panton-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Light.eot');
  src: local('Panton Light'), local('Panton-Light'),
  url('../fonts/panton/Panton-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Light.woff') format('woff'),
  url('../fonts/panton/Panton-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/panton/Panton-Black.eot');
  src: local('Panton Black'), local('Panton-Black'),
  url('../fonts/panton/Panton-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/panton/Panton-Black.woff') format('woff'),
  url('../fonts/panton/Panton-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

