.footer {
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: -150px;
  transition: all 0.5s ease-out;
  &__container {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    height: 134px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
  }

  &__logo {
    margin-left: 0px;


    a {
      display: block;
      position: absolute;
      left: 40px;
      top: 15px;
    }
  }

  &__menu {
    nav {
      white-space: nowrap;

      a {
        text-transform: uppercase;
        color: #fff;
        margin-right: 70px;
        display: inline-block;
        font-size: 18px;
        font-weight: normal;

        &:hover,
        &.active {
          color: $color-second;
        }
      }
    }
  }

  &__phone {
    margin: 0 20px 0 120px;

    a {
      font-size: 24px;
      color: #fff;

      &:hover{
        color: $color-second;
      }
    }
  }

  &__order {
    margin-left: 10px;
  }
}

@media (max-width: 999px) {
  .footer {
    position: relative;
    bottom: 0;
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding: 0 15px;
      height: 170px;
      background: rgba(0, 0, 0, 1);
    }
    &__logo {
      display: none;
    }
    &__phone {
      margin: 0;
      grid-area: 2 / 2 / 3 / 3;
      text-align: right;
      a {
        font-size: 18px;
      }
    }
    &__socials {
      grid-area: 1 / 2 / 2 / 3;
      text-align: right;
      align-self: end;
    }
    &__order {
      grid-area: 3 / 2 / 4 / 3;
      align-self: flex-start;
      text-align: right;
    }
    &__menu {
      grid-area: 1 / 1 / 4 / 2;
    }
    &__menu nav {
      display: flex;
      flex-direction: column;
      a {
        font-size: 16px;
        padding: 5px 0;
      }
    }
    &__order {
      a {
      font-size: 12px;
      }
    }
  }
}