.index_slider {
/*  margin-top: -100px;*/
  position: relative;
  z-index: 9;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .arrow-down {
    border-radius: 50%;
    border: 1px solid white;
    width: 56px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 75px;
    left: 50%;
  }
  .arrow-down span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #ebac28;
    border-right: 2px solid #ebac28;
    transform: rotate(45deg);
    margin: -9px;
    animation: arrow-down 2s infinite;
    position: relative;
    left: 30px;
    top: 17px;
  }


  .arrow-down span:nth-child(2){
    animation-delay: -0.2s;
  }
  .arrow-down span:nth-child(3){
    animation-delay: -0.4s;
  }
  @keyframes arrow-down {
    0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
    }
  }

  &__socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 40px;
    top: 20vh;
  }

  &__icon--inst {
    position: relative;
    &:hover:before {
      content: '';
      display: block;
      background: linear-gradient(45deg, #ab6a22, #77275f);
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--vk {
    position: relative;
    &:hover:before {
      content: '';
      display: block;
      background: #586f8f;
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--whats {
    position: relative;
    &:hover:before {
      content: '';
      display: block;
      background: #5e247c;
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }
  }
  &__icon--viber {
    position: relative;
    &:hover:before {
      content: '';
      display: block;
      background: #578240;
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }
  }
  img {
    max-width: 100%;
  }

  .index_slider__image {
    pointer-events: none;
    position: relative;

    img {
      opacity: 0;
    }
  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    box-sizing: border-box;
    padding: 100px 40px 0 40px;
    @include flexbox;
    height: 100%;
    @include align-items(center);
    @include justify-content(flex-end);

    .text {
      text-align: right;
      font-family: 'Panton', sans-serif;
      color: #fff;

      &.text {
        &-1 {
          text-transform: uppercase;
          font-size: 110px;
          font-weight: 900;
          line-height: 1em;
          text-shadow: 0px 9px 57px rgba(0, 0, 0, 0.93);
        }

        &-2 {
          text-transform: uppercase;
          font-size: 48px;
          font-weight: 900;
          line-height: 1em;
          text-shadow: 0px 9px 57px rgba(0, 0, 0, 0.93);
        }

        &-3 {
          text-transform: uppercase;
          font-size: 90px;
          font-weight: 900;
          line-height: 1em;
          color: $color-second;
        }

        &-4 {
          padding: 20px 0;
          font-size: 22px;
          line-height: 1em;
          max-width: 650px;
        }
      }
    }

  }

  &:before {
    content: '';
    display: block;
    background: url(../images/slider_before.png) no-repeat right top;
    background-size: cover;
    width: 599px;
    height: 308px;
    position: absolute;
    left: 0;
    bottom: -147px;
    pointer-events: none;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/slider_after2.png) no-repeat right top;
    background-size: auto;
    width: 832px;
    height: 1227px;
    position: absolute;
    right: 0;
    bottom: -448px;
    pointer-events: none;
  }
}

@media (max-width: 999px) {
  .index_slider {
    margin-top: -100px;
    position: relative;
    z-index: 9;
    height: 380px;
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;

    .arrow-down {
      display: none;
    }

    img {
      max-width: 100%;
    }

    .index_slider__image {
      pointer-events: none;
      position: relative;

      img {
        opacity: 0;
      }
    }
    &__socials {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 15px;
    }
    &__text {
      max-width: 285px;
      top: 50px;
      position: relative;
    }
    &__order {
      margin-top: 8px;
    }
    &__container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      box-sizing: border-box;
      padding: 100px 15px 0 15px;
      @include flexbox;
      height: 100%;
      @include align-items(center);
      @include justify-content(flex-end);

      .text {
        text-align: right;
        font-family: 'Panton', sans-serif;
        color: #fff;

        &.text {
          &-1 {
            text-transform: uppercase;
            font-size: 41px;
            font-weight: 900;
            line-height: 1em;
          }

          &-2 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 900;
            line-height: 1em;
          }

          &-3 {
            text-transform: uppercase;
            font-size: 33px;
            font-weight: 900;
            line-height: 1em;
            color: $color-second;
          }

          &-4 {

            font-size: 14px;
            line-height: 1em;
          }
        }
      }

    }

    &:before {
      content: '';
      display: block;
      background: url(../images/slider_before--mobile.png) no-repeat left top;
      background-size: cover;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      bottom: -30px;
      pointer-events: none;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/slider_after2--mobile.png) no-repeat right top;
      background-size: auto;
      width: 280px;
      height: 360px;
      position: absolute;
      right: 0;
      bottom: -100px;
      pointer-events: none;
    }
  }

}

@media (min-width: 700px) {
  .index_slider {
    background: url(../images/index-slider.jpg) no-repeat top center/cover;
  }

}