.index_slider {
  margin-top: -100px;
  position: relative;
  z-index: 9;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    max-width: 100%;
  }

  .index_slider__image {
    pointer-events: none;
    position: relative;

    img {
      opacity: 0;
    }
  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    box-sizing: border-box;
    padding: 100px 40px 0 40px;
    @include flexbox;
    height: 100%;
    @include align-items(center);
    @include justify-content(flex-end);

    .text {
      text-align: right;
      font-family: 'Panton', sans-serif;
      color: #fff;

      &.text {
        &-1 {
          text-transform: uppercase;
          font-size: 110px;
          font-weight: 900;
          line-height: 1em;
        }

        &-2 {
          text-transform: uppercase;
          font-size: 48px;
          font-weight: 900;
          line-height: 1em;
        }

        &-3 {
          text-transform: uppercase;
          font-size: 90px;
          font-weight: 900;
          line-height: 1em;
          color: $color-second;
        }

        &-4 {
          padding: 20px 0;
          font-size: 22px;
          line-height: 1em;
        }
      }
    }

  }

  &:before {
    content: '';
    display: block;
    background: url(../images/slider_before.png) no-repeat right top;
    background-size: cover;
    width: 599px;
    height: 308px;
    position: absolute;
    left: 0;
    bottom: -147px;
    pointer-events: none;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/slider_after2.png) no-repeat right top;
    background-size: auto;
    width: 832px;
    height: 1227px;
    position: absolute;
    right: 0;
    bottom: -448px;
    pointer-events: none;
  }
}

@media (max-width: 999px) {
  .index_slider {
    margin-top: -100px;
    position: relative;
    z-index: 9;
    height: 380px;
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;


    img {
      max-width: 100%;
    }

    .index_slider__image {
      pointer-events: none;
      position: relative;

      img {
        opacity: 0;
      }
    }
    &__socials {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 15px;
    }
    &__text {
      max-width: 285px;
      top: 50px;
      position: relative;
    }
    &__order {
      margin-top: 8px;
    }
    &__container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      box-sizing: border-box;
      padding: 100px 15px 0 15px;
      @include flexbox;
      height: 100%;
      @include align-items(center);
      @include justify-content(flex-end);

      .text {
        text-align: right;
        font-family: 'Panton', sans-serif;
        color: #fff;

        &.text {
          &-1 {
            text-transform: uppercase;
            font-size: 41px;
            font-weight: 900;
            line-height: 1em;
          }

          &-2 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 900;
            line-height: 1em;
          }

          &-3 {
            text-transform: uppercase;
            font-size: 33px;
            font-weight: 900;
            line-height: 1em;
            color: $color-second;
          }

          &-4 {

            font-size: 14px;
            line-height: 1em;
          }
        }
      }

    }

    &:before {
      content: '';
      display: block;
      background: url(../images/slider_before--mobile.png) no-repeat left top;
      background-size: cover;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      bottom: -30px;
      pointer-events: none;
    }
    &:after {
      content: '';
      display: block;
      background: url(../images/slider_after2--mobile.png) no-repeat right top;
      background-size: auto;
      width: 280px;
      height: 360px;
      position: absolute;
      right: 0;
      bottom: -100px;
      pointer-events: none;
    }
  }

}

@media (min-width: 700px) {
  .index_slider {
    background: url(../images/index-slider.jpg) no-repeat top center;
  }

}