.modal {

  form {

    #phone-modal {
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
    }
    p:last-of-type {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;
      font: 12px 'Open Sans', Arial, sans-serif;
      color: gray;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input[type=text], input[type=tel] {
      font-family: $font-family-base;
      width: 445px;
      height: 54px;
      border: 2px solid black;
      border-radius: 25px;
      background: rgba( 0,0,0,.6);
      box-shadow: 0px 8px 35px 0px rgb(235 172 40 / 41%);
      font-size: 18px;
      color: white;
      &::placeholder {
        color: white;
        font-weight: 100;
        font-size: 18px;
      }
    }
    input[type=tel] {
      padding-left: 15px;
    }

    input[type="checkbox"] + label:last-child { margin-bottom: 0; }

    input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 3px solid black;
      position: absolute;
      left: 10px;
      top: -1px;
      opacity: .6;
      border-radius: 50%;
      background: orange;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
      opacity: 1;      }
  }
}

.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity0 .2s ease-in;
}

.modal__content {
  position: relative;
  width: auto;
  margin: 10px;
  transition: opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  .modal__content {
    max-width: 500px;
    margin: 50px auto;
  }
}

.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 1050;
  pointer-events: auto;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-orange;
}

.modal__btn-close {
  float: right;
  font-family: 'Gilroy';
  font-size: 45px;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
  text-decoration: none;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
@media (max-width: 999px) {
  .modal {
    &__content {
      margin: 0;
    }
    form {
      button {
        width: 100%;
        line-height: 52px;
        height: 54px;
      }
    }
  }

}