.price {
  height: 970px;
  background-position: 100% -10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

/*  margin-top: -2em;*/

  margin-bottom: -130px;
  h2 {
    width: 100%;
    text-align: center;
    font-size: 72px;
    color: white;
    text-transform: uppercase;
    font-family: $font-family-second;
    font-weight: 900;

    position: relative;
    z-index: 10;
    span {
      color: $color-orange;
    }
  }
  &__slider {
    padding-top: 2em !important;
    height: 75vh;
  }
  .swiper-wrapper {
    position: absolute !important;
  }
  &__slide {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    &__wrapper {
      max-width: 400px;
      max-height: 580px;
      background: rgba( 0,0,0,.8);
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__slide-title {
    font-size: 42px;
    font-family: $font-family-second;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-orange;
    margin-left: 20px;
  }
  &__time-block {
    background: linear-gradient(to right, $color-orange, transparent);
    font-size: 45px;
    font-family: $font-family-second;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    span:last-of-type {
      color: $color-orange;
    }
  }
  .text {
    color: white;
    font-size: 20px;
    padding: 20px;
    span {
      color: $color-orange;
    }
    .add {
      color: $color-orange;
      font-size: 16px;
      display: block;
      margin-top: 1em;
    }
  }
  .equip-list {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    list-style: none;
    li::before {
      content: "\2022";
      color: $color-orange;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
  .swiper-slide {
    filter: blur(4px);
  }

  .swiper-slide-active {
    filter: blur(0);
    transition: all 0.5s ease-out;
    transform: translateY(-2em);
  }
  &__order {
    margin-top: 3.6em;
    /* margin: 0 auto; */
    justify-content: center;
    display: flex;
  }
  &__pagenation {
    position: absolute;
    right: 50%;
    bottom: 8.5em;
    text-align: center;
    z-index: 10;
    transform: translateX(45%);

    &_num {
      font-family: $font-family-second;
      font-size: 300px;
      color: #000;
      pointer-events: none;
      font-weight: 900;
      opacity: 0.12;
      line-height: .8em;
    }

    .swiper-pagination {
      position: relative;
      z-index: 10;
    }
  }

  .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
    background-color: #7a7a7a;

    &.swiper-pagination-bullet-active {
      background-color: transparent;
      border: 3px solid #ebac28;
      height: 16px;
      width: 16px;
      position: relative;
      top: 1px;
    }
  }
}
@media (max-width: 999px) {
  .price {
    h2 {
      font-size: 44px;
    }
  }
}